@import "../../../assets/colors.scss";

:host {
  background-color: $transparent_Gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-navigation {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.menu-item {
  padding-right: 60px;
  list-style-type: none;
  color: $black;
  cursor: pointer;
}

.menu-item-href {
  text-decoration: none;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat";
}

.logo {
  width: 150px;
  height: 64px;
  padding-bottom: 25px;
}

.docx {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.docx-item {
  line-height: 26px;
  color: $black;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
}

.akcent {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.docx-item-href {
  line-height: 26px;
  color: $black;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
