<div class="title-block" id="vebinars">
  <h1 class="title">Бесплатные мероприятия</h1>
</div>
<div class="vebinars">
  <div class="vebinar-item">
    <div class="vebinar-date">
      <img
        class="vebinar-icon"
        src="../../../assets/images/calendar.png"
        alt="calendar"
      />
      <div class="time-date">20 февраля</div>
    </div>
    <div class="vebinar-time">
      <img
        class="vebinar-icon"
        src="../../../assets/images/clock.png"
        alt="calendar"
      />
      <div class="time-date">13:00 по МСК</div>
    </div>
    <div class="vebinar-info">
      Экспресс-вебинар «Удобный дом или новая профессия благодаря организации
      пространства
    </div>
    <div class="vebinar-button">
      <mila-button (click)="openDialog()">Участвовать</mila-button>
    </div>
  </div>

  <div class="vebinar-item">
    <div class="vebinar-date">
      <img
        class="vebinar-icon"
        src="../../../assets/images/calendar.png"
        alt="calendar"
      />
      <div class="time-date">21 февраля</div>
    </div>
    <div class="vebinar-time">
      <img
        class="vebinar-icon"
        src="../../../assets/images/clock.png"
        alt="calendar"
      />
      <div class="time-date">14:00 по МСК</div>
    </div>
    <div class="vebinar-info">
      Как создается умная мебель: от идеи до реализации
    </div>
    <div class="vebinar-button">
      <mila-button (click)="openDialog()">Участвовать</mila-button>
    </div>
  </div>

  <div class="vebinar-item">
    <div class="vebinar-date">
      <img
        class="vebinar-icon"
        src="../../../assets/images/calendar.png"
        alt="calendar"
      />
      <div class="time-date">22 февраля</div>
    </div>
    <div class="vebinar-time">
      <img
        class="vebinar-icon"
        src="../../../assets/images/clock.png"
        alt="calendar"
      />
      <div class="time-date">15:00 по МСК</div>
    </div>
    <div class="vebinar-info">
      Как освоить творческую женскую профессию организатора пространства с
      доходом от 60 000 руб/мес, даже если сейчас у вас дома беспорядок
    </div>
    <div class="vebinar-button">
      <mila-button (click)="openDialog()">Участвовать</mila-button>
    </div>
  </div>
</div>
