<div class="title-block">
  <h1 class="title" id="courses">Курсы</h1>
</div>
<div class="cards">
  <div class="card">
    <div class="card-item card-organise">
      <div class="overlay"></div>
      <div class="card-title">Организуй свой дом</div>
      <div class="card-price">от 1799 ₽</div>
    </div>
    <mila-button></mila-button>
  </div>

  <div class="card">
    <div class="card-item card-profi">
      <div class="overlay"></div>
      <div class="card-title">Станьте профессионалом</div>
      <div class="card-price">от 37 900</div>
    </div>
    <mila-button></mila-button>
  </div>

  <div class="card">
    <div class="card-item card-club">
      <div class="overlay"></div>
      <div class="card-title">Вступай в сообщество влюбленных в ОП</div>
      <div class="card-price">от 1599 ₽</div>
    </div>
    <mila-button></mila-button>
  </div>
</div>
<!-- 
<div class="section-graduates">
  <div class="left">
    <h3 class="subtitle">
      Не готовы пока обучаться, но порядка в доме хочется?
    </h3>
    <p class="primary-text">Можете обратиться к нашим выпускникам!</p>
    <mila-button></mila-button>
  </div>
  <div class="right">
    <img
      class="photo-graduates"
      src="../../assets/images/stydentsProffi.png"
      alt="our graduates"
    />
  </div>
</div> -->
