<img class="logo" src="../../assets/images/logo.png" alt="logo" />
<div id="home" class="menu-navigation">
  <ul class="menu-list">
    <li class="menu-item"><a href="#" class="menu-item-href">Курсы</a></li>
    <li class="menu-item"><a href="#" class="menu-item-href">Почему мы</a></li>
    <li class="menu-item"><a href="#" class="menu-item-href">Вебинары</a></li>
    <li class="menu-item"><a href="#" class="menu-item-href">Отзывы</a></li>
    <li class="menu-item"><a href="#" class="menu-item-href">Статьи</a></li>
    <li class="menu-item">
      <a href="#" class="menu-item-href">Найти специалиста</a>
    </li>
  </ul>
</div>
<div class="contacts">
  <span class="phone">+7 999 999 9999</span>
  <button class="social-link-btn">
    <img
      class="social-link-ikon"
      src="../../../assets/images/icons8-vk.svg"
      alt="vk"
    />
  </button>
  <button class="social-link-btn" class="social-link-btn">
    <img
      class="social-link-ikon"
      src="../../../assets/images/icons8-telegram.svg"
      alt="telegram"
    />
  </button>
  <button class="social-link-btn">
    <img
      class="social-link-ikon"
      src="../../../assets/images/icons8-whatsapp.svg"
      alt="watsApp"
    />
  </button>
  <button class="social-link-btn">
    <img
      class="social-link-ikon"
      src="../../../assets/images/icons8-yandex.svg"
      alt="yandex Dzen"
    />
  </button>
  <div class="drop-down-menu">
    <button class="drop-down-menu-btn"></button>
    <a href="#courses" class="active">Курсы</a>
    <a href="#">Почему мы</a>
    <a href="#">Вебинары</a>
    <a href="#">Отзывы</a>
    <a href="#">Статьи</a>
    <a href="#home">В начало страницы</a>
  </div>
</div>
