<div class="title-block">
  <h1 class="title">Что о нас</h1>
  <div class="title title-akcent">говорят</div>
</div>

<!-- <div class="rewiews-video">
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/suKryLQPgCk"
      title="Дария Рыжова"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/s2dsAJCRCXU"
      title="Инга Мунькова"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/SRZkxfIgn6w"
      title="Видео-отзыв с Ольги"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/B6aT1GhQ7hs"
      title="Екатерина Устименко"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/n_O_1oyn51s"
      title="Отзыв Дианы Камаловой"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/t2krr8Pz4U4"
      title="video 4"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/NHDAwvxzWMw"
      title="video 5"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/YKmMQckjr-4"
      title="video 2"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video-item">
    <iframe
      class="video-rewiew"
      src="https://www.youtube.com/embed/-eQz0rjUELA"
      title="video 7"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div> -->

<div class="text-rewiews">
  <div class="text-rewiew-item">
    <img
      class="text-rewiew"
      src="../../../assets/images/rewiew1.png"
      alt="rewiew"
    />
  </div>
  <div class="text-rewiew-item">
    <img
      class="text-rewiew"
      src="../../../assets/images/rewiew2.png"
      alt="rewiew"
    />
  </div>
  <div class="text-rewiew-item">
    <img
      class="text-rewiew"
      src="../../../assets/images/rewiew3.png"
      alt="rewiew"
    />
  </div>
</div>
