<div class="title-block" id="reviews">
  <h1 class="title">Что о нас</h1>
  <div class="title title-akcent">говорят</div>
</div>

<div class="text-rewiews">
  <div class="text-rewiew-item">
    <img class="text-rewiew" src="./assets/images/rewiew1.png" alt="rewiew" />
  </div>
  <div class="text-rewiew-item">
    <img class="text-rewiew" src="./assets/images/rewiew2.png" alt="rewiew" />
  </div>
  <div class="text-rewiew-item">
    <img class="text-rewiew" src="./assets/images/rewiew3.png" alt="rewiew" />
  </div>
</div>