@import "../../../assets/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, Arial, sans-serif;
  padding-bottom: 100px;
}

.kviz-item {
  width: 630px;
  height: 300px;
  padding: 45px 45px 65px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $white;
  border-width: 2px;
  border: 2px solid $blue;
  border-radius: 30px;
}

.title {
  color: $blue;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.btn-wrapper {
  ::ng-deep mila-button button {
    text-transform: uppercase;
    font-weight: 700;
    width: 240px;
    border-radius: 10px;
  }
}

@media (max-width: 430px) {
  .kviz-item {
    width: 420px;
    height: 290px;
    padding: 20px 20px 65px 20px;
  }

  .title {
    padding-bottom: 40px;
  }
}
