<div class="articles-section" id="articles">
  <div class="articles-item blog">
    <div class="title-section">
      <div class="title">БЛОГ</div>
      <svg
        role="presentation"
        class="t959__card-arrow"
        width="20"
        height="30"
        viewBox="0 0 14 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 0.994385L12 11.9944L1 22.9944"
          stroke="#0e3044"
          stroke-width="2"
        ></path>
      </svg>
    </div>
    <div class="subtitle">
      Полезные статьи и лайфхаки. Идеи по организации пространства.
    </div>
  </div>

  <div class="articles-item mass-media">
    <div class="title-section">
      <div class="title">МЫ В СМИ</div>
      <svg
        role="presentation"
        class="t959__card-arrow"
        width="20"
        height="30"
        viewBox="0 0 14 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 0.994385L12 11.9944L1 22.9944"
          stroke="#0e3044"
          stroke-width="2"
        ></path>
      </svg>
    </div>
    <div class="subtitle">Публикации от школы «Хаоса Нет»</div>
  </div>
</div>
