<div class="title-block" id="about-us">
  <h1 class="title">Почему</h1>
  <div class="title title-akcent">мы</div>
</div>

<div class="subtitle">
  Хаоса нет - это мультиформатное пространство для любителей и действующих
  организаторов пространства
</div>

<div class="cards">
  <div class="card-item">
    <img
      class="card-image"
      src="../../../assets/images/aboutUs1.png"
      alt="woman"
    />
    <span class="card-text"
      >Всегда с полным вниманием к вам и вашим вопросам в процессе любого
      обучения и на любом уровне знаний в организации пространства. В Школе с
      вами взаимодействуют не только кураторы и служба заботы, но и ее
      основатели, готовые помочь в решении любых вопросов</span
    >
  </div>
  <div class="card-item">
    <img
      class="card-image"
      src="../../../assets/images/aboutUs2.png"
      alt="woman"
    />
    <span class="card-text"
      >Почему мы Хаоса нет - это мультиформатное пространство для любителей и
      действующих организаторов пространства В процессе обучения и в Community
      регулярно проходят живые онлайн-встречи, вебинары, мастермайнды от
      специалистов разных направлений, которые помогают развиваться и набираться
      опыта для достижения поставленных целей</span
    >
  </div>
  <div class="card-item">
    <img
      class="card-image"
      src="../../../assets/images/aboutUs3.png"
      alt="woman"
    />
    <span class="card-text"
      >Мы обучаем актуальным направлениям для развития своих навыков и повышения
      квалификации: от проектирования мебели до масштабирования своего
      дела</span
    >
  </div>
</div>
