<header><mila-header></mila-header></header>
<main>
  <mila-home></mila-home>
  <mila-courses></mila-courses>
  <mila-find-a-specialist></mila-find-a-specialist>
  <mila-about-us></mila-about-us>
  <mila-vebinars></mila-vebinars>
  <mila-certificate></mila-certificate>
  <mila-in-vk></mila-in-vk>
  <mila-reviews></mila-reviews>
  <mila-articles></mila-articles>
  <mila-kviz></mila-kviz>
  <mila-faq></mila-faq>
  <mila-footer></mila-footer>
</main>
<footer></footer>

<router-outlet></router-outlet>
