<div class="home-section" id="home">
  <div class="left">
    <h1 class="title">Школа организации пространства</h1>
    <ul class="items">
      <li class="item">Станьте организатором пространства</li>
      <li class="item">Создайте умную мебель и дом без хаоса</li>
      <li class="item">Измените пространство вокруг себя</li>
    </ul>
  </div>
  <div class="right">
    <img class="img-animate img-animate-radius animate-4" src="./assets/images/1.jpg" alt="bags" />
    <img class="img-animate animate-1" src="./assets/images/2.png" alt="logo?" />
    <img class="img-animate img-animate-radius animate-4" src="./assets/images/3.jpg" alt="clothes" />
    <img class="img-animate animate-3" src="./assets/images/4.png" alt="logo?" />
    <img class="img-animate img-animate-radius animate-4" src="./assets/images/5.jpg" alt="planing" />
    <img class="img-animate animate-4" src="./assets/images/6.png" alt="logo?" />

    <img class="img-animate img-animate-radius animate-6" src="./assets/images/7.jpg" alt="organizer" />
    <img class="img-animate animate-5" src="./assets/images/8_9.png" alt="logo?" />

    <img class="img-animate img-animate-radius animate-2" src="./assets/images/10.jpeg" alt="woman" />
  </div>
</div>