<div class="certificate-section">
  <div class="info">
    <div class="title">
      ПОДАРИТЕ СВОИМ БЛИЗКИМ ПОЛЕЗНЫЙ ПОДАРОК —
      <span class="title title-black">
        ОФОРМИТЕ ПОДАРОЧНЫЙ СЕРТИФИКАТ ШКОЛЫ ОРГАНИЗАЦИИ ПРОСТРАНСТВА «ХАОСА
        НЕТ»
      </span>
    </div>
    <div class="subtitle">
      Сертификат можно активировать в течение полугода, он действует на все
      продукты Школы
    </div>
    <mila-button></mila-button>
  </div>

  <img class="img-gift" src="../../../assets/images/gift.png" alt="gift" />
</div>
