$transparent_Gray: rgba(231, 239, 242, 0.85);
$black: black;
$white: white;
$blue: rgb(38, 195, 247);
$light_blue: #78daeb;
$gray: #0e3044;
$gray_shadow: rgba(0, 0, 0, 0.1);
$transparent_dark_Gray: rgba(0, 0, 0, 0.364);
$yellow: #f8cc3a;
$red: #d41f1f;
