<div class="title-block">
  <h1 class="title">«Хаоса нет» в VK</h1>
</div>
<div class="subtitle">
  Подписывайтесь на нас! Полезные публикации каждый день
</div>

<div class="images-block">
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk1.jpg" alt="удобно и красиво" /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk2.jpeg" alt="отмазки для беспорядка" /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk3.jpeg" alt="что скажут люди" /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk4.jpg" alt="кейс ученицы" /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk5.jpeg" alt="порядок на рабочем месте" /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk6.jpg" alt="организация для ребенка " /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk7.jpeg" alt="хранение украшений" /></a>
  <a href="https://vk.com/"><img class="img-item" src="./assets/images/inVk8.jpeg" alt="хранение сезонных вещей" /></a>
</div>